version: '3.8'

services:
  # 前端服务
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

  # 后端服务
  backend:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongodb:27017/dse-ict-master
    depends_on:
      - mongodb
    volumes:
      - ./server/uploads:/app/uploads # 持久化上传的文件
    restart: always

  mongodb:
    image: mongo:latest
    container_name: dse-ict-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=dse_ict__master_database_admin_1234
      - MONGO_INITDB_DATABASE=dse-ict-master

volumes:
  mongo-data: